[submodule "deps/jerryscript"]
	path = deps/jerryscript
	url = git@github.com:jerryscript-project/jerryscript.git
[submodule "deps/argparse"]
	path = deps/argparse
	url = https://github.com/jamolnng/argparse.git
